In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# 0. Dataset 전처리(Preprocessing)함수

In [2]:
def generate_df(x: pd.DataFrame):
    # 리스트 컴프리헨션을 사용하여 모든 데이터를 먼저 리스트로 변환
    data = [
        [
            # doc['title'],
            # doc['id'],
            # [j['sentence'] for j in doc['text'][0]],
            # doc['abstractive'][0],
            # doc['extractive']
            (' ').join( [j['sentence'] for j in doc['text'][0]]),
            doc['abstractive'][0]
            
        ]
        for doc in x['documents']
    ]

    # 변환된 데이터를 사용하여 DataFrame 생성
    # temp = pd.DataFrame(data, columns=['media','id', 'article_original', 'abstractive', 'extractive'])
    temp = pd.DataFrame(data, columns=['news','summary'] )
    
    return temp

# 1. Train Dataset Merge

In [3]:
# # jsfile1 = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Training\\법률_train_original\\train_original.json'
# # jsfile2 = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Training\\사설_train_original\\train_original.json'
# jsfile3 = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Training\\신문기사_train_original\\train_original.json'

# df1 = pd.read_json(jsfile1)
# df2 = pd.read_json(jsfile2)
# df3 = pd.read_json(jsfile3)

# df_total = pd.concat( [df1,df2,df3])
# df_total.reset_index(inplace=True, drop=True)

In [7]:
jsf = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Training\\신문기사_train_original\\train_original.json'
jsf_df = pd.read_json(jsf)
jsf_df

,name,delivery_date,documents
0,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741778', 'category': '종합', 'media_t..."
1,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741792', 'category': '종합', 'media_t..."
2,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741793', 'category': '스포츠', 'media_..."
3,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741794', 'category': '정치', 'media_t..."
4,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741797', 'category': '종합', 'media_t..."
...,...,...,...
243978,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368476513', 'category': '종합', 'media_t..."
243979,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368476529', 'category': '종합', 'media_t..."
243980,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368476533', 'category': '종합', 'media_t..."
243981,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368479493', 'category': '종합', 'media_t..."
243982,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368479496', 'category': '종합', 'media_t..."

In [9]:
jsf_df['rand'] = jsf_df['name']
jsf_df['rand'] = jsf_df['rand'].map(lambda x : int(np.random.randint(1,15000)) )
jsf_df

,name,delivery_date,documents,rand
0,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741778', 'category': '종합', 'media_t...",3421
1,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741792', 'category': '종합', 'media_t...",1338
2,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741793', 'category': '스포츠', 'media_...",6992
3,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741794', 'category': '정치', 'media_t...",3546
4,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '290741797', 'category': '종합', 'media_t...",5427
...,...,...,...,...
243978,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368476513', 'category': '종합', 'media_t...",6822
243979,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368476529', 'category': '종합', 'media_t...",833
243980,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368476533', 'category': '종합', 'media_t...",1185
243981,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368479493', 'category': '종합', 'media_t...",1835
243982,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '368479496', 'category': '종합', 'media_t...",11166

In [11]:
jsf_df = jsf_df.sort_values(by = ['rand'], ascending=True)
jsf_df

,name,delivery_date,documents,rand
155471,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '359786407', 'category': '종합', 'media_t...",1
56246,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '345242308', 'category': '종합', 'media_t...",1
87641,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '341716924', 'category': '종합', 'media_t...",1
88232,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '345086032', 'category': '종합', 'media_t...",1
149726,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '353644849', 'category': '경제', 'media_t...",1
...,...,...,...,...
142274,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '332353274', 'category': '종합', 'media_t...",14999
33057,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '353741190', 'category': '종합', 'media_t...",14999
178362,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '353719327', 'category': '종합', 'media_t...",14999
215378,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '359708524', 'category': '종합', 'media_t...",14999
16906,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '339304739', 'category': '종합', 'media_t...",14999

In [12]:
train_df = jsf_df[:30000]
test_df = jsf_df[30000:40000]

train_df.reset_index(inplace=True, drop=True)
test_df.reset_index(inplace=True, drop=True)

In [13]:
train_df

,name,delivery_date,documents,rand
0,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '359786407', 'category': '종합', 'media_t...",1
1,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '345242308', 'category': '종합', 'media_t...",1
2,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '341716924', 'category': '종합', 'media_t...",1
3,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '345086032', 'category': '종합', 'media_t...",1
4,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '353644849', 'category': '경제', 'media_t...",1
...,...,...,...,...
29995,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '353085079', 'category': '종합', 'media_t...",1836
29996,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '342209508', 'category': '종합', 'media_t...",1836
29997,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '342240141', 'category': '종합', 'media_t...",1836
29998,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '341651439', 'category': '종합', 'media_t...",1837
29999,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '354334239', 'category': '종합', 'media_t...",1837

In [14]:
test_df

,name,delivery_date,documents,rand
0,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '356480582', 'category': '종합', 'media_t...",1837
1,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '332978755', 'category': '종합', 'media_t...",1837
2,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '366923451', 'category': '종합', 'media_t...",1837
3,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '359293722', 'category': '종합', 'media_t...",1837
4,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '364429312', 'category': '종합', 'media_t...",1837
...,...,...,...,...
9995,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '333264516', 'category': '정치', 'media_t...",2452
9996,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '332404187', 'category': '종합', 'media_t...",2452
9997,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '343455355', 'category': '종합', 'media_t...",2452
9998,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '362066719', 'category': '종합', 'media_t...",2452
9999,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '331069256', 'category': '종합', 'media_t...",2452

## 1) json저장 및 확인

In [15]:
# merge_j = merge.to_json("train.jsonl", force_ascii=False, orient='records', lines=True)
# merge_pk = merge.to_pickle("train_df.pickle")

pre_train = generate_df(train_df)
pre_test = generate_df(test_df)

tsv_train = pre_train.to_csv("train.tsv", sep='\t', index=False)
tsv_test = pre_test.to_csv("test.tsv", sep='\t', index=False)

In [88]:
# jf = 'C:\\0.Project_LLM\\train.jsonl'

# j_df = pd.read_json(jf, lines=True)
# j_df

# 3. Validation Dataset Merge

In [89]:
vjsfile1 = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Validation\\법률_valid_original\\valid_original.json'
vjsfile2 = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Validation\\사설_valid_original\\valid_original.json'
vjsfile3 = 'C:\\0.Project_LLM\\1.문서요약 텍스트\\Validation\\신문기사_valid_original\\valid_original.json'

vdf1 = pd.read_json(vjsfile1)
vdf2 = pd.read_json(vjsfile2)
vdf3 = pd.read_json(vjsfile3)

In [90]:
vdf_total = pd.concat( [vdf1,vdf2,vdf3])
vdf_total.reset_index(inplace=True, drop=True)
vdf_total

,name,delivery_date,documents
0,법률문서 프로젝트,2020-12-23 17:23:13,"{'id': '83587', 'category': '일반행정', 'size': 's..."
1,법률문서 프로젝트,2020-12-23 17:23:13,"{'id': '83588', 'category': '일반행정', 'size': 'm..."
2,법률문서 프로젝트,2020-12-23 17:23:13,"{'id': '83590', 'category': '세무', 'size': 'sma..."
3,법률문서 프로젝트,2020-12-23 17:23:13,"{'id': '83591', 'category': '세무', 'size': 'sma..."
4,법률문서 프로젝트,2020-12-23 17:23:13,"{'id': '83592', 'category': '특허', 'size': 'sma..."
...,...,...,...
40129,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '350851474', 'category': '종합', 'media_t..."
40130,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '350851925', 'category': '경제', 'media_t..."
40131,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '350854748', 'category': '종합', 'media_t..."
40132,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '350857648', 'category': '종합', 'media_t..."
40133,문서요약 프로젝트,2020-12-23 12:01:15,"{'id': '350861693', 'category': '경제', 'media_t..."

In [91]:
vmerge = generate_df(vdf_total)
# vmerge_j = vmerge.to_json("valid.jsonl", force_ascii=False, orient='records', lines=True)
# vmerge_pk = vmerge.to_pickle("test_df.pickle")
# vmerge_pk = vmerge.to_pickle("test_df.pickle")
vmerge_tsv = vmerge.to_csv("test.tsv", sep='\t')
vmerge_tsv

In [93]:
# vjf = 'C:\\0.Project_LLM\\valid.jsonl'

# vj_df = pd.read_json(vjf, lines=True)
# vj_df